html {
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	max-width: 100%;
}


a {
  color: #6aaeee;
  text-decoration: none;
}

a:hover {
  color: #3c95e9;
  text-decoration: none;
}

h1,h2,h3,p {
  color: inherit;
  font-family: 'Raleway';
}

#particles-js {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.center-text {
  text-align: center;
  vertical-align: middle;
  color: #333;
}

.container {
  background: #fff;
  color: #333;
}

.content {
    max-width: 70%;
    padding: auto;
    padding-top: 5em;
    margin: auto;
    text-align: center;
}

.content-no-padding {
    max-width: 70%;
    padding: auto;
    margin: auto;
    text-align: center;
}

.flex{
    display: flex;
    text-align: left;
}

.fixed{
    width: 70%;
    font-size: 18px;
}


.flex-item {
    flex-grow: 1;
}

.profile {
  /*height: 250px;*/
  padding-top: 70%;
  width: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
  background: url(../images/ujj.jpg) no-repeat center;
  background-size: cover;
}

.profile:hover {
    background: url(../images/light.jpg) no-repeat center;
    background-size: cover;
}

.heading {
  /*padding: 5em 0 0 10em;*/
	text-align: left;
  opacity: 0.8;
}

.capabilities {
  padding: 50px 0 100px 0;
  font-size: 18px;
  text-align: left;
}

#skills {
  vertical-align: top;
  padding-bottom: 8em;
}

#skill-chart {
  vertical-align: top;
  width: 30em;
  height: 30em;
}

ul.feature-icons {
  list-style: none;
  padding-left: 0;
  width: 80%;
  margin-left: auto;
}

ul.feature-icons li {
  text-decoration: none;
  display: inline-block;
  margin: 0 0 1.6875em 0;
  padding: 0.35em 0 0 3.5em;
  position: relative;
  vertical-align: top;
  width: 48%;
}

ul.feature-icons li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

ul.feature-icons li:before {
  background: #4acaa8;
  border-radius: 100%;
  color: #ffffff;
  display: block;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0 !important;
}

ul.icons li .icon:before {
  font-size: 1.25em;
}
