/* Global Styles */

html,
body {
    height: 100%;
    width: 100%;
}
h3,
h2 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.vert-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
}
/* Full Page Image Header Area */

.header {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/background/poster.jpg) no-repeat;
    background-size: auto;
}


#particles-js {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

/*canvas {
  display:block;
  vertical-align:bottom;
}*/
